:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #4e7da8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container-items {
  border: 2px solid rgba(34, 52, 33, 0.7);
  text-align: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 50px;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(10, 20, 30, 0.4);
}

button {
  padding: 10px;
  width: 20%;
  border-radius: 3px 3px;
  margin: 20px;
  cursor: grab;
}

@media(max-width:700px) {
  h1 {
    font-size: medium;
  }
}

button:hover {
  background-color: rgba(86, 68, 110, 0.4);
}